@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; line-height:100%}
a{ color:#333; text-decoration:none;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:12px;}
ul, ol{ list-style:none;}
b, strong{ font-weight:normal;}
i, em{ font-style: normal;}
img{ border:none; display:block;}
input{ border:none; outline:none; background:none;}
body{ font-size:14px; font-family:"Microsoft YaHei"}
.clearfix:after{ content:''; clear:both; display:block;}
.clearfix{ zoom:1;}
