@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; line-height:100%;}
body{ font-size:12px; font-family:'Microsoft Yahei';}
a{ text-decoration:none; color:#000;}
li{ list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{ font-weight:normal; font-size:100%;}
i,em{ font-style:normal;}
img{ vertical-align:top;}
a img{ border:none;}
.clearfix:after{ display:block; clear:both; content:'';}
.clearfix{ zoom:1;}

.fl{ float:left;}
.fr{ float:right;}












