@charset "utf-8";

/*重置*/
/** { margin:0; padding:0; }*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,
form, th, td, table, tr,p,blockquote,fieldset,input,
abbr,article,aside,details,figcaption,figure,footer,
header,hgroup,mark,meter,nav,output,textarea,progress,
section,summary,time,button, video, audio{margin:0;padding:0}
html { width: 100%;overflow-x: hidden;}
body {
	font-family: "Helvetica Neue","Helvetica","Arial","Microsoft YaHei","微软雅黑","sans-serif";
	width: 100%;
	/*font-size:0.32rem; !*font-size:16px;当尺寸为20px时转换为20*2/100=0.4rem*!*/
	color: #333; 
}
h1, h2, h3, h4, h5, h6, strong, i{ 
	font-weight:normal; 
	font-style:normal;
}
ol, ul, li {list-style: none;}
img, input, textarea,select { 
	border: none; 
	outline: none; 
	-webkit-appearance:none; 
}
a, input, button, textarea { 
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
}
input[type="submit"],input[type="reset"],
input[type="button"],input[type="text"],
input[type="password"]{-webkit-appearance:none;outline:none}
input,button{overflow: visible;vertical-align:middle;outline:none}
input,button,textarea,select,optgroup,option{
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
}
a {text-decoration: none; }
a:active, a:visited,a:hover,a:focus {text-decoration: none; outline:none}
.fl {float: left; }
.fr {float: right; }
.clearfix:after { display: block; content:''; clear: both; }
.clearfix { zoom:1; }
/*HTML5 reset*/
header,footer,section,aside,details,menu,
article,section,nav,address,hgroup,figure,
figcaption,legend{display:block;margin:0;padding:0}
time{display:inline}
audio,canvas,video{display:inline-block;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*功能*/
.pd{padding:0;}.pt-0{padding-top: 0;}.pl-0{padding-left: 0;}.pb-0{padding-bottom: 0;}.pr-0{padding-right: 0;}
.mg{margin:0;}.mt-0{margin-top: 0;}.ml-0{margin-left: 0;}.mb-0{margin-bottom: 0;}.mr-0{margin-right: 0;}

/*3.1.6 文字单行溢出省略号*/
.text-overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*3.1.11 css3阴影
    Name:           style_shadow
    Example:        class="box_shadow|text-shadow"
    Explain:        box_shadow 块级元素阴影，全局样式，可用在表格，文本框，文本域，div等块级元素上。
                    text-shadow 文字阴影
*/
.box-shadow{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1)}
.text-shadow{-webkit-text-shadow:0 0 2px rgba(0,0,0,0.2);text-shadow:0 0 2px rgba(0,0,0,0.2)}

/*======================居中====================*/
.center-parent {  /*父级*/
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.center-son {  /*子集*/
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
	-webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*无宽高水平居中*/
.c-out{
	position: relative;
	float: left;
	left: 50%;
}
.c-middle{
	position: relative;
	float: left;
	left: -50%;
}
.c-in{
	float: left;
}
/*======================flex布局======================*/
.flex{
	 display: -webkit-box;
    display: -moz-box; 
    display: -webkit-flex;  
    display: -moz-flex; 
    display: -ms-flexbox; 
    display: flex;
}
.flex-1{
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex:1;
    -ms-flex:1;
    flex:1;
}
/*两个并排的带边框的盒子等宽*/
.border-box{	
    float:left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*按钮*/
.btn{
    display:inline-block;
    box-sizing:border-box;
    cursor:pointer;
    text-align:center;
    font-weight:400;
    white-space:nowrap;
    vertical-align: middle;
    -webkit-transition:background-color .1s linear;
    -moz-transition:background-color .1s linear;
    -o-transition:background-color .1s linear;
    transition:background-color .1s linear;
}