@charset "utf-8";
/* 智能社 - www.zhinengshe.com */
*{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none; border:none; background:#FFF;}
textarea{resize:none;}
a{text-decoration:none;}
em,i{font-style:normal;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
    